:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.content {
    display: flex;
}

/**********LEFT**********/

.left {
    width: 45vw;
    height: 100vh;
    background-image: url(images/jefferson-sees-vLSoYkrQnW0-unsplash.jpg);
    background-size: cover;
    background-position: 0;
}

.logo-bar {
    width: 100%;
    height: 20vh;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    top: 10vh;
    font-family: 'The Nautigal', cursive;
    font-size: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-text {
    height: 50%;
    font-size: 10vh;
    overflow: hidden;
}

.logo-icon {
    height: 50%
}




/**********RIGHT**********/

.right {
    width: 55vw;
    height: 100vh;
    background-color: rgb(20, 20, 20);
}

/*TEXT*/

.text {
    color: white;
    height: 30vh;
    margin-top: 10vh;
    font-size: max(20px, 1.2vw);
    padding-left: 40px;
    padding-right: 40px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.signup {
    line-height: 50px;
    font-weight: bold;
}

.want {
    font-style: italic;
}

/*FORMS*/

form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.forms {
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input {
    width: 40%;
    display: flex;
    flex-direction: column;
}

input {
    color: white;
    background-color: rgb(20, 20, 20);
    border: solid 2px rgb(100, 100, 100);
}

input:focus {
    background-color: rgb(30, 30, 30);
}

label {
    color: rgb(100, 100, 100);
    font-size: 12px;
}

/*BUTTON*/

button {
    color: rgb(255, 100, 120);
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    width: 20%;
    height: 40px;
    border: solid 4px;
}

button:hover {
    background-color: rgb(100, 100, 100) ;
}

button:active {
    background-color: rgb(180, 180, 180);
}

.login {
    color: white;
    padding-left: 40px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 100, 120);
}